:root{
    background-color: #000000;
    font-style: oblique;
    font: "Baloo";


    .taipy-button{
        background-color: #E5CCFF;
        border: none;
        color: black;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 25px;
    }
}
  