@font-face {
    font-family: 'Baloo-Regular';
    src: url('./Baloo-Regular.ttf');
}

:root{
    --color-primary: #E5CCFF;    
    --color-secondary: #FEDB38 !important; 
    --color-paper-dark: #1B002C;
    --color-background-dark: #1B002C;
    --font-family:'Baloo-Regular', sans-serif;
    --custom-scrollbar-thumb-color: var(--color-primary);
    --border-radius: 32px;
}

.css-7g81c7 {
    background-color: var(--color-paper-dark);
}

body{
    background-color: var(--color-paper-dark);
}

.card{
    background-color: var(--color-paper-dark);
}

.color-secondary{
    color: var(--color-secondary);
}

.taipy-button{
    background-color: var(--color-primary);
    border: none;
    color: var(--color-paper-dark);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.taipy-serious-button{
    background-color: var(--color-secondary);
    border: none;
    color: var(--color-paper-dark);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: var(--border-radius);
}

