@font-face {
    font-family: 'Baloo-Regular';
    src: url('./STYLES/Baloo-Regular.ttf');
}


div#root{
    background-color: var(--color-background-dark) !important;
    color: var(--color-primary);
}

:root{
    --color-primary: #E5CCFF !important;    
    --color-secondary: #FEDB38 !important; 
    --color-paper-dark: #580ca4;
    --color-background-dark: #1B002C !important;
    --font-family:'Baloo-Regular', sans-serif;
    --custom-scrollbar-thumb-color: var(--color-primary);
    --border-radius: 32px
}



.taipy-button{
    background-color: var(--color-primary);
    border: none;
    color: var(--color-paper-dark);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: var(--border-radius);
}


